@media only screen and (max-width: 768px){.hide{display:none}.section-header{top:100px}.purple{text-align:center}.purple .logo{margin-left:0}.teal{height:1050px}.grey{height:1350px}.white{height:950px}}
