/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Titillium Web', sans-serif;
}

.center{
  text-align: center;
}
.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}

/* ==========================================================================
   Vars and Mixins
   ========================================================================== */
   $white: #fff;

   @mixin section-header{
    position: relative;
    top: 140px;
    width: 61%;
    margin: 0 auto;
    text-align: center;
   }



/* ==========================================================================
   Globals
   ========================================================================== */
   ul{
    list-style-type: none;
    padding: 0;
   }
   li{
    display: inline-block;
   }
   img{
    max-width: 100%;
   }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
  max-width: 1440px; 
  margin: 0 auto;
}

.logo{
  margin:{
    left: 200px;
    top: 60px;
  }
}
.nav{
  position: fixed;
  right: 50px;
  top: 0;
  margin:{
    right: 200px;
    top: 60px;
  }
  color: $white;
  li{
    display: block;
    padding-bottom: 30px;
      a{
        color: #292e37;
        text-decoration: none;
      }
  }
}
.nav-item.active > a{
  background-color: red;
                          
}
.section-header{
  @include section-header;
  button{
    width: 300px;
    height: 75px;
    background-color: #eb7d4b;
    border-color: #c86a40;
    color: $white;
  }
  hr{
    width: 100px;
    border-color: $white;
  }
}

.purple{
  background-color: #87509c;
  height: 600px;
  color: $white;
  h1{
   text-align: center;
   color: $white;
   margin:{
    top:0;
    }
  }
}

.teal{
  background-color: #17c2a4;
  height: 750px;
  color: $white;
  h1{
     text-align: center;
     color: $white;
     margin:{
      top:0;
    }
  }
}

.grey{
  background-color: #e7f1f8;
  height: 915px;
  color: #3c4761;
  h1{
     text-align: center;
     color: #3c4761;
     margin:{
      top:0;
    }
  } 
}

.white{
  height: 660px;
  color: #3c4761;
  h1{
     text-align: center;
     color: #3c4761;
     margin:{
      top:0;
    }
  }
}
.tan{
  background-color: #ffdd99;
  color: #393939;
  h1{
    text-align: center;
    color: #393939;
    margin:{
      top:0;
    }
  }
}
.pink{
  height: 900px;
  background-color: #d74680;
  color: $white;
  h1{
     text-align: center;
     color: $white;
     margin:{
      top:0;
    }
  }
}

.blue{
  height: 825px;
  background-color: #3c5499;
  color: $white;
  h1{
     text-align: center;
     color: $white;
     margin:{
      top:0;
    }
  }
}

.content-wrapper{
  width: 1110px;
  margin: 200px auto 0;
  text-align: center;
  button{
    width: 300px;
    height: 75px;
    background-color: #17c2a4;
    border-color: #14a58c;
    color: #fff;
    margin-bottom: 50px;
  }
}

.content-block{
  display: inline-block;
  margin: 0 35px;
  text-align: center;
  p{
    width: 200px;
    font-size: 1.125em;
  }
}

.circle{
  width: 200px;
  height: 200px;
  background-color: #878787;
  border-radius: 50%;
}

.job-title{
  color: #48c1e9;
}

.social-icons{
  margin: 0 auto;
  li{
    padding: 5px;
  }
}

.skill-set{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  span{
    font-size: 3.125em;
    position: relative;
    top: 45px;
  }
}

.web-design{
  border: 15px solid #30bae7; 
}
.html{
  border: 15px solid #d74680; 
}
.graphic-design{
  border: 15px solid #15c7a8;  
}
.ui{
  border: 15px solid #eb7d4b;
}
.project-filter{
  width: 550px;
  margin: 220px auto;
}

.job{
  display: inline-block;
  padding: 0 40px;
  margin-left: 10px;
  border-radius: 5px;
}

.all{
  background-color: #fff;
}

.web, .apps, .icons{
  background-color: #ebc985;
}

.laptop-images{
  margin-top: -150px;
    li{
    padding-bottom: 30px;
  }
}

.testimonial-wrapper{
  text-align: left;
  display: inline-block;
  margin: 40px 75px;
  img{
    vertical-align: top;
    padding-right: 50px;
  }
  h2{
    margin-bottom: 0;
  }
  p{
    color: #ffdd99;
    margin-top: 0;
  }
  .quote{
    display: inline-block;
  } 
}

.nameEmail{
  width: 415px;
  height: 45px;
  border-radius: 5px;
  background-color: #273a71;
  border: none;
  margin: 0 30px;
  text-align: center;
}

.message{
  width: 890px;
  height: 155px;
  border-radius: 5px;
  background-color: #273a71;
  border: none;
  margin: 30px 30px;
  text-align: center;
}

.footer-wrapper{
  background-color: #344b8e;
  text-align: center;
  color: $white;
  ul{
    margin-top: 0;
  }
  li{
    padding: 40px;
  }
}



